@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;   
}

a {
    text-decoration: none;
}
.navbar{
    padding-right: 4vw;
    padding-left: 4vw;
}

.bottom-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .card-img-overlay{
  top: 35%; 
  padding-left: 60%; 
}

.card-img{
  filter: opacity(40%);
}

.text-center{
  margin-top: 4vh; 
}

.row {
  margin-left: 4vw ;
  margin-right: 4vw;
  margin-bottom: 4vh;
}

#char{
  text-decoration: underline dotted;
}

form{
  margin-left: 6vw ;
  margin-right: 6vw;
}

.col{
  padding-bottom: 2vh ;
}

.btn-lg{
  background-color: #96c244;
  border-color: #96c244;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4vh;
}

.flex-container img{
  width: 50%;
}

#flex-item{
  width: 50%;
  padding: 1.5vw;
  
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 3vh ;
  padding-bottom: 3vh;
  background-color: #39649e;
  
}

.footer a {
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
    .card-img-overlay{
        top: 25%; 
        padding-left: 40%; 
      }
    }

@media only screen and (max-width: 768px) {
        .card-img-overlay{
            top: 0%; 
            padding-left: 0%; 
          }
          .flex-container img{
            width: 100%;
          }
          
          #flex-item{
            width: 100%;
          }
        }

        